*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(50, 90, 100)
}
header{
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: rgb(195, 231, 226);
}
#conteiner-galeria {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
gap: 2vw;
padding: 0 1vw;
}
.itens-galeria {
    width: 340px;
    height: 250px;
    border: 10px solid #fff;
    box-shadow: 5px 5px #b7b7be;
    flex-grow: 1;
}
.itens-galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.itens-galeria:hover {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}
footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    background-color: azure;
    margin-top: 30px;
}